<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.joey.cheetah.core">


    <uses-permission android:name="android.permission.CAMERA"/>
    <application >
        <activity android:name=".permission.PermissionActivity"/>
    </application>

</manifest>

