<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.joey.cheetah.core">


    <uses-permission android:name="android.permission.CAMERA"/>
    <application >
        <activity android:name=".permission.PermissionActivity"/>
        <activity android:name=".media.photo.PhotoGetActivity"/>
        <activity android:name=".media.scan.ScanCodeActivity"/>
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="fullSensor"
            tools:replace="screenOrientation" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="@string/photo_file_provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_path" />
        </provider>
    </application>

</manifest>

