<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.joey.cheetah.sample">

    <uses-sdk tools:overrideLibrary="com.joey.rxble,com.joey.rxandroidble2"/>

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name=".SampleApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".kt.CameraActivity"/>
        <activity android:name=".java.scan.BleScanActivity" />
        <activity android:name=".java.connect.BleConnectActivity" />
        <activity android:name=".kt.GankActivity" />
        <activity android:name=".kt.android.GankDetailActivity" />
        <activity android:name=".extension.ExtensionActivity" />
        <activity android:name=".extension.ExtensionJumpActivity" />
        <activity android:name=".dbdemo.DbDemoActivity"></activity>
    </application>

</manifest>